body {
	font-family: 'Arvo', serif;
	color: #484848;
	line-height: 1.6;
	padding: 50px;
}

#jordan {
	width: 40%;
}

#alaska {
	width: 90%;
}

#main {
	font-size: 20px;
	text-align: center;
	width: 50%;
	min-width: 550px;
	display: block;
	margin: auto;
}

.title {
font-family: 'Karla', sans-serif;
	font-size: 50px;
	margin-top: 50px;
}

.title-small {
font-family: 'Karla', sans-serif;
	font-size: 40px;
}

a {
	color: grey;
}
